---
import { getCollection } from "astro:content";
import MainLayout from "../../../layouts/Layout.astro";

import {Image} from '@astrojs/image/components'

const allPosts = await getCollection("blog");



---

<MainLayout title="Blog index page">
   
    <div class = "grid justify-center items-center gap-10 my-12 text-center md:grid-cols-3">
    {   
        
        allPosts.map((post) => 
        <article class="grid justify-center" >
        <h1 class = "my-2">{post.data.title}</h1>
        <p class = "my-4"> {
            post.data.Categories.map((category: unknown) =>
            <a href = {`/blog/category/${category}`} class = "mx-2">{category}</a>
            )
        }</p>
        <p class="my-4">tags :{
            post.data.tags.map((tag: unknown) => 
            <a href = {`/blog/tag/${tag}`} class = "mx-2">{tag}</a>
            )
        } </p>
        <a href = {`/blog/${post.slug}`}>
        <Image class = "my-2 inline-grid"
        width={300}
        aspectRatio={2.0}
        height ={300}
        fit={"cover"}
        position={"center"}
        src={post.data.image.src} 
        alt={post.data.image.alt} />
        </a>
        
        <p class = "mx-8 my-12">{post.data.description}</p>
        </article>
            )
    }
    </div>
   
</MainLayout>
