---
import MainLayout from "./Layout.astro";

const { frontmatter } = Astro.props

const {title, description , image} = frontmatter

import {Image} from '@astrojs/image/components'
---

<MainLayout  {title} >
    <header>
        <div class="grid my-4 justify-center">
            <small>
                <a href=""></a>
            </small>
            <h1 class = "text-center my-4">{title}</h1>
        
        <Image class="border-8 border-black rounded-md"
        width={500}
        aspectRatio={2.0}
        height ={500}
        fit={"cover"}
        position={"center"}
        src={image.src} 
        alt={image.alt} />
        </div>
    </header>
    <div class="post-content">
        <div class="content mx-auto prose dark:text-white md:max-w-7xl w-10/12 ">
            <slot></slot>
        </div>
    </div>
    
</MainLayout>